absl-py==2.1.0
actionlib==1.14.0
ale-py==0.8.1
angles==1.9.13
appdirs==1.4.4
arch==5.3.0
asttokens==2.4.1
autorom.accept-rom-license==0.6.1
autorom==0.4.2
backcall==0.2.0
base-local-planner==1.17.3
bondpy==1.8.6
cachetools==5.3.2
camera-calibration-parsers==1.12.0
camera-calibration==1.17.0
catkin==0.8.10
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==3.0.0
comm==0.2.1
contourpy==1.1.1
controller-manager-msgs==0.19.6
controller-manager==0.19.6
cv-bridge==1.16.2
cycler==0.12.1
debugpy==1.8.0
decorator==4.4.2
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dm-control==1.0.16
dm-env==1.6
dm-tree==0.1.8
docker-pycreds==0.4.0
docstring-parser==0.15
dynamic-reconfigure==1.7.3
dynamixel-sdk==3.7.51
envpool==0.8.4
etils==1.3.0
executing==2.0.1
farama-notifications==0.0.4
filelock==3.13.1
fonttools==4.47.2
fsspec==2023.12.2
gazebo-plugins==2.9.2
gazebo-ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gitdb==4.0.11
gitpython==3.1.41
glcontext==2.5.0
glfw==1.12.0
google-auth-oauthlib==1.0.0
google-auth==2.27.0
grpcio==1.60.1
gym-notices==0.0.8
gym-super-mario-bros==7.4.0
gym3==0.3.3
gym==0.26.2
gymnasium==0.29.1
huggingface-hub==0.14.1
idna==3.6
image-geometry==1.16.2
imageio-ffmpeg==0.3.0
imageio==2.33.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
interactive-markers==1.12.0
ipykernel==6.29.0
ipython==8.12.2
jedi==0.19.1
jinja2==3.1.3
joint-state-publisher-gui==1.15.1
joint-state-publisher==1.15.1
jupyter-client==8.6.0
jupyter-core==5.7.1
kiwisolver==1.4.5
labmaze==1.0.6
laser-geometry==1.6.7
lxml==5.1.0
lz4==4.3.3
markdown-it-py==3.0.0
markdown==3.5.2
markupsafe==2.1.5
matplotlib-inline==0.1.6
matplotlib==3.6.0
mdurl==0.1.2
message-filters==1.16.0
minigrid==2.3.1
mir-driver==1.1.7
moderngl==5.10.0
moveit-commander==1.1.13
moveit-core==1.1.13
moveit-ros-planning-interface==1.1.13
moveit-ros-visualization==1.1.13
moviepy==1.0.3
mpmath==1.3.0
mujoco==3.1.1
nes-py==8.2.1
nest-asyncio==1.6.0
networkx==3.1
numpy==1.24.4
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
opencv-python==4.9.0.80
optree==0.10.0
packaging==23.2
pandas==2.0.3
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
pip==23.3.2
platformdirs==4.2.0
procgen==0.10.7
proglog==0.1.10
prompt-toolkit==3.0.42
property-cached==1.6.4
protobuf==4.25.2
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1-modules==0.3.0
pyasn1==0.5.1
pycparser==2.21
pygame==2.5.2
pyglet==1.5.21
pygments==2.17.2
pynvml==11.5.0
pyopengl==3.1.7
pyparsing==3.1.1
python-dateutil==2.8.2
python-qt-binding==0.4.4
pytz==2024.1
pyyaml==6.0.1
pyzmq==25.1.2
qt-dotgraph==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
qt-gui==0.4.2
requests-oauthlib==1.3.1
requests==2.31.0
resource-retriever==1.12.7
rich==13.7.0
rllte-core==0.0.1b7
rosapi==0.11.17
rosbag==1.16.0
rosboost-cfg==1.15.8
rosbridge-library==0.11.17
rosbridge-server==0.11.17
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy-message-converter==0.5.9
rospy==1.16.0
rosserial-python==0.9.2
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rqt-action==0.4.9
rqt-bag-plugins==0.5.1
rqt-bag==0.5.1
rqt-console==0.4.11
rqt-dep==0.4.12
rqt-graph==0.4.14
rqt-gui-py==0.5.3
rqt-gui==0.5.3
rqt-image-view==0.4.17
rqt-launch==0.4.9
rqt-logger-level==0.4.11
rqt-moveit==0.5.10
rqt-msg==0.4.10
rqt-nav-view==0.5.7
rqt-plot==0.4.13
rqt-pose-view==0.5.11
rqt-publisher==0.4.10
rqt-py-common==0.5.3
rqt-py-console==0.4.10
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.14
rqt-robot-steering==0.5.12
rqt-runtime-monitor==0.5.9
rqt-rviz==0.7.0
rqt-service-caller==0.4.10
rqt-shell==0.4.11
rqt-srv==0.4.9
rqt-tf-tree==0.6.3
rqt-top==0.4.10
rqt-topic==0.4.13
rqt-web==0.4.10
rsa==4.9
rtabmap-python==0.21.1
rviz==1.14.20
scipy==1.10.1
seaborn==0.12.2
sensor-msgs==1.13.1
sentry-sdk==1.40.2
setproctitle==1.3.3
setuptools==69.0.3
shtab==1.6.5
six==1.16.0
smach-ros==2.5.2
smach==2.5.2
smclib==1.8.6
smmap==5.0.1
srdfdom==0.6.4
stack-data==0.6.2
statsmodels==0.14.1
sympy==1.12
tensorboard-data-server==0.7.2
tensorboard==2.14.0
termcolor==2.4.0
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.6
tf2-kdl==0.7.6
tf2-py==0.7.6
tf2-ros==0.7.6
tf2-sensor-msgs==0.7.6
tf==1.13.2
topic-tools==1.16.0
torch==2.2.0
torchvision==0.17.0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.14.1
triton==2.2.0
turtlebot3-teleop==1.2.5
types-protobuf==4.24.0.20240129
typing-extensions==4.9.0
tyro==0.7.2
tzdata==2023.4
urdfdom-py==0.4.6
urllib3==2.2.0
wandb==0.16.3
wcwidth==0.2.13
werkzeug==3.0.1
wheel==0.42.0
xacro==1.14.16
zipp==3.17.0