*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.mypy_cache
.DS_Store
.idea
.vscode
.coverage*
.coverage.*
*.npz
*.pth
*.egg-info
.cache
.ipynb_checkpoints
*.lprof
*.prof
*.log
*.json

__pycache__/
_build/
/legacy
/cfgs
/logs
/dist
/experimental
/outputs
/test.py
/test_npu.py
/train.py
/checkpoints_in
/rllte/copilot/g4f

# find . | grep -E "(/__pycache__$|\.pyc$|\.pyo$)" | xargs rm -rf