*.swp
*.pyc
*.pkl
*.py~
*.bak
.pytest_cache
.mypy_cache
.DS_Store
.idea
.vscode
.coverage
.coverage.*
*.npz
*.pth
*.egg-info
.cache
.ipynb_checkpoints
*.lprof
*.prof
*.log

__pycache__/
_build/
/logs
/dist
/outputs
/test.py

# find . | grep -E "(/__pycache__$|\.pyc$|\.pyo$)" | xargs rm -rf