[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "hsuanwu"
version = "0.0.1"
authors = [
  { name="Bellman Project", email="friedrichyuan19990827@gmail.com" },
]
description = "Long-Term Evolution Project of Reinforcement Learning"
readme = "README.md"
requires-python = ">=3.8"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]

[project.urls]
"Homepage" = "https://github.com/BellmanProject/Hsuanwu"
"Bug Tracker" = "https://github.com/BellmanProject/Hsuanwu/issues"