.md-content {
    text-align: justify;
}

[data-md-color-scheme="hsuanwu"] {
    --md-primary-fg-color:        rgb(0,83,214);
    --md-accent-fg-color: rgb(0,83,174);
    --md-typeset-a-color: rgb(0,83,214);
  }  

/* .color a:hover{
    color: rgb(0,83,214);
} */